<h2 class="mx-0, my-2 text-center text-3xl font-bold">Edit information for&colon; <%= link_to @user.username, user_path(@user), class: "underline" %></h2>

<%= turbo_frame_tag "edit_form" do %>
  <%= render "form" %>
<% end %>