<h1>About Page</h1>
<h2>List of things I like</h2>
<ul>
  <li>Games</li>
  <li>Food</li>
  <li>Code</li>
 </ul>

<div>
<%= link_to "Articles Listing", articles_path %>
|
<%= link_to "Home Page", root_path %>
</div>
