<% @categories.each do |category| %>
  <div class="max-w-sm bg-white mx-auto my-2 shadow-xl border-solid border border-black">
    <p class = "text-center underline text-lg mt-1"><%= link_to category.name, category_path(category) %></p>
    <p class="text-center mb-1 text-sm"><%= pluralize(category.articles.count, "article") %></p>
      <div class="flex flex-row justify-center border-solid border-t  bg-gray-200 border-black p-1">
        <span class="text-xs">Created <%= time_ago_in_words(category.created_at) %> ago</span>
        <% unless category.updated_at == category.created_at %>
          <span class="text-xs">, Edited <%= time_ago_in_words(category.updated_at) %> ago</span>
        <% end %>
      </div>
  </div>
<% end %>