<h2 class = "font-bold text-3xl mx-auto text-center mb-4 text-white">Categories</h2>

<% if @length > @padg %>
  <div class="flickr_pagination w-80 mx-auto bg-white rounded-md shadow-md mb-8"><%= will_paginate @categories %></div>
<% end %>
<%= render 'category' %>
<% if @length > @padg %>
  <div class="flickr_pagination w-80 mx-auto bg-white rounded-md shadow-md mt-8"><%= will_paginate @categories %></div>
<% end %>

<p class="text-center mx-auto underline my-2 text-white"><%= link_to "Create New Category", new_category_path if logged_in? && current_user.admin? %></p>