<h2 class = "font-bold text-3xl mx-auto text-center mb-4">Category&colon; <%= @category.name %></h2>

<p class="text-center mx-auto" ><%= link_to "Back", categories_path, class: "underline p-4" %></p>